services:
    _defaults:
        autowire: true
        autoconfigure: true

    Ec\Widget\Application\Service\Factories\:
        resource: '../../../vendor/ec/widget-domain/src/Application/Service/Factories/'
        exclude:
            - '../../../vendor/ec/widget-domain/src/Application/Service/Factories/*Exception.php'
            - '../../../vendor/ec/widget-domain/src/Application/Service/Factories/WidgetLegacyCreator.php'
        tags: ['ec.widget.legacyCreator']

    Ec\Widget\Application\Service\WidgetLegacyCreatorHandler:
