# Template PHP Build

# This template allows you to validate your PHP application.
# The workflow allows running tests and code linting on the default branch.

image: acerezoec/ci-php-service


pipelines:
    pull-requests:
        '**':
            - parallel:
                - step:
                    name: Security Audit
                    script:
                        - mkdir ~/bin
                        - composer config --global --auth http-basic.repo.packagist.com $PACKAGISTUSER $PACKAGISTKEY
                        - composer config --global bin-dir ~/bin
                        - composer install --no-interaction
                        - composer audit
                    caches:
                        - composer
                - step:
                    name: Php CS Fixer
                    script:
                        - mkdir ~/bin
                        - composer config --global --auth http-basic.repo.packagist.com $PACKAGISTUSER $PACKAGISTKEY
                        - composer config --global bin-dir ~/bin
                        - composer install --no-interaction
                        - ./bin/php-cs-fixer --dry-run --diff fix
                    caches:
                        - composer
                - step:
                    name: Unit Test
                    script:
                        - composer config --global --auth http-basic.repo.packagist.com $PACKAGISTUSER $PACKAGISTKEY
                        - composer install --no-interaction
                        - ./bin/phpunit
                    caches:
                        - composer
    branches:
        develop:
            - parallel:
                  - step:
                        name: Security Audit
                        script:
                            - mkdir ~/bin
                            - composer config --global --auth http-basic.repo.packagist.com $PACKAGISTUSER $PACKAGISTKEY
                            - composer config --global bin-dir ~/bin
                            - composer install --no-interaction
                            - composer audit
                        caches:
                            - composer
                  - step:
                        name: Php CS Fixer
                        script:
                            - composer config --global --auth http-basic.repo.packagist.com $PACKAGISTUSER $PACKAGISTKEY
                            - composer install --no-interaction
                            - ./bin/php-cs-fixer --dry-run --diff fix
                        caches:
                            - composer
                  - step:
                        name: Unit Test
                        script:
                            - composer config --global --auth http-basic.repo.packagist.com $PACKAGISTUSER $PACKAGISTKEY
                            - composer install --no-interaction
                            - ./bin/phpunit
                        caches:
                            - composer
        master:
            - parallel:
                  - step:
                        name: Security Audit
                        script:
                            - mkdir ~/bin
                            - composer config --global --auth http-basic.repo.packagist.com $PACKAGISTUSER $PACKAGISTKEY
                            - composer config --global bin-dir ~/bin
                            - composer install --no-interaction
                            - composer audit
                        caches:
                            - composer
                  - step:
                        name: Php CS Fixer
                        script:
                            - composer config --global --auth http-basic.repo.packagist.com $PACKAGISTUSER $PACKAGISTKEY
                            - composer install --no-interaction
                            - ./bin/php-cs-fixer --dry-run --diff fix
                        caches:
                            - composer
                  - step:
                        name: Unit Test
                        script:
                            - composer config --global --auth http-basic.repo.packagist.com $PACKAGISTUSER $PACKAGISTKEY
                            - composer install --no-interaction
                            - ./bin/phpunit
                        caches:
                            - composer
