healthcheckCdn:
    path: /healthcheck_cdn
    controller: App\Controller\HealthcheckController::healthCheck
    condition: (context.getHost() matches '/snaapi\.elconfidencial\.(dev|pre|com)/') or (request.headers.get('User-Agent') == 'ELB-HealthChecker/2.0')
    methods: GET
    requirements:
        extension: dev|pre|com

v1:
    resource: ./routes/v1.yaml
    condition: "request.headers.get('Accept') matches '/application\\\\/vnd.%microservice.name%.v1/i'"
    host: "{hostname}"
    requirements:
        hostname: "snaapi(-prod-[0-9]+)?.elconfidencial.(local|dev|pre|com|ims|efim)|ecsnaapi-service-service"
