healthcheckCdn:
    path: /healthcheck_cdn
    controller: App\Controller\HealthcheckController::healthCheck
    condition: (context.getHost() matches '/snaapi\.elconfidencial\.(dev|pre|com)/') or (request.headers.get('User-Agent') == 'ELB-HealthChecker/2.0')
    methods: GET
    requirements:
        extension: dev|pre|com
